<ion-view view-title="Gowtham & Santhoshi 1.0">
  <ion-content>

    <!-- ========== HEADER SECTION ========== -->
    <section id="home"></section>
    <div id="headerwrap" class="hero">
      <div class="container">
        <br>
        <h1>Gowtham <span class="amp">&</span> Santhoshi</h1>
        <h2 class="amp">are getting married!</h2>

        <div class="row">
          <br>
          <br>
          <br>
          <div class="col-lg-6 col-lg-offset-3">
          </div>
        </div>
      </div><!-- .container -->
      <div id="overlay"></div>
      <!--Background Slider Navigation-->
      <ul id="slide-list"></ul>
      <!-- Background Slider Holder -->
      <ul id="supersized"></ul>
    </div><!-- #headerwrap -->



  </ion-content>
</ion-view>
