<ion-view view-title="Wedding Details">
  <ion-content>
    <h2>In our long winding journey of new husband and wife we invite you for the following events!</h2>
    <h1>Reception</h1>
    <!-- 30/11/2016<br>
    Between 6PM & 8PM<br> -->
    @ Palaniswamy Gounder Mahal<br>
    Cheyur Road, Avinashi 641654<br>
    In <timer end-time="1480509000000" style="color: red;">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
    <br><br>
    <h1>Wedding</h1>
<!--     01/12/2016<br>
    Between 8AM & 9AM<br> -->
    @ Lakshmi Narasimha Temple<br>
    Thalakkarai, Avinashi Thaluk Cheyur 641655<br>
    In <timer end-time="1480559400000" style="color: red;">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>

  </ion-content>
</ion-view>
